
@media (min-width: 320px) and (max-width : 374px){
    #signup-form-container{
        width: 100%;
        height: 100vh;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        overscroll-behavior : none;
    }
    #navbar{
        background-image: linear-gradient(to right, rgba(0, 161, 153, 0.9), rgba(5, 107, 147, 0.9));
        overflow : hidden;
        width : 100%;
        top : 0;
        padding : 0;
    }
    .isFocused{
        height : 12%;
    }
    input, select{
        height : 6vh;
        padding : 1.5vh;
    }
    input:focus, select:focus { outline: none; }
    textarea:focus { outline: none; }
    .register-button{
        width : 100%;
        background-color: #f7f7f7;
        color : #666666;
        border : #666666 0.3px solid;
        font-size: 1.8vh;
    }
    .register-button-big{
        height : 1.5vh;
    }
    .register-button-active{
        width : 100%;
        color : #666666;
        background-color : #b0dae2;
        border : #666666 0.3px solid;
        font-size: 1.8vh;
    }
    p {
        color: #e95513;
        font-size: 1.8vh;
      }
    .hide{
        display : none;
    }
    .show{
        display : block;
    }
    .sign-up-check{
        font-size: 4vh;
        color: #666666;
    }
    .sign-up-check-selected{
        font-size: 4vh;
        color : #44a0ac;  
    }
}



@media (min-width : 375px) and (max-width: 576px){
    #signup-form-container{
        width: 100%;
        height: 100vh;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        overscroll-behavior : none;
    }
    #navbar{
        background-image: linear-gradient(to right, rgba(0, 161, 153, 0.9), rgba(5, 107, 147, 0.9));
        overflow : hidden;
        width : 100%;
        top : 0;
        padding : 0;
    }
    .isFocused{
        height : 12%;
    }
    input, select{
        height : 6vh;
        padding : 1.5vh;
    }
    input:focus, select:focus { outline: none; }
    textarea:focus { outline: none; }
    .register-button{
        width : 100%;
        background-color: #f7f7f7;
        color : #666666;
        border : #666666 0.3px solid;
        font-size: 1.8vh;
    }
    .register-button-big{
        height : 1.5vh;
    }
    .register-button-active{
        width : 100%;
        color : #666666;
        background-color : #b0dae2;
        border : #666666 0.3px solid;
        font-size: 1.8vh;
    }
    p {
        color: #e95513;
        font-size: 1.8vh;
      }
    .hide{
        display : none;
    }
    .sign-up-check{
        font-size: 4vh;
        color: #666666;
    }
    .sign-up-check-selected{
        font-size: 4vh;
        color : #44a0ac;  
    }

}

@media (min-width: 577px) and (max-height : 1199px){
}

@media (min-width: 1200px){
}

