
@media (min-width: 320px) and (max-width : 374px){
    input::after{
        width: 100%;
        border: #ffffff solid 1px;
        border-radius : 3vh;
        background : RGBA(255, 255, 255,0.3);
        color : #ffffff;
    }
    input::placeholder{
        color : #ffffff;
    }
}


@media (min-width : 375px) and (max-width: 576px){
    input::after{
        width: 100%;
        border: #ffffff solid 1px;
        border-radius : 3vh;
        background : RGBA(255, 255, 255,0.3);
        color : #ffffff;
    }
    input::placeholder{
        color : #ffffff;
    }

}

@media (min-width: 577px) and (max-height : 1199px){
}

@media (min-width: 1200px){
}

