#dashboard-container{
    width: 100%;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overscroll-behavior : none;
}

#dashboard-container a{
    font-size: 12px;
}
#dashboard-container span{
    font-size: 10px;
}