.mypage{
    text-align: center;
<<<<<<< HEAD
}

#banner-bottom-navbar{
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index : 100;
    background: black;
    width: 100%;
    height : 10vh;
    background : rgba(248, 248, 248, 0.8);
    font-weight : 600;
    text-align: center;
    border-top : 0.4px solid rgba(112, 112, 112, 0.8);
    border-bottom : 0.4px solid rgba(112, 112, 112, 0.8);
    padding-top : 1vh;
    transition : margin .5s
  }
.banner-bottom-navbar-title{
    color : #707070;
    text-align: center;
    margin-top : -1vh;
}
.scrolled-down{
    margin-bottom : -100px;
=======
    width: 100%;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.ant-card-body{
    padding: 2vh;
>>>>>>> a4c7a6d14a288f65123c3785f05f609448c4b3c7
}